<a href="https://colab.research.google.com/gist/vkslogan/8ccd8361f7859adfefaa00ec64caf53f/1_introduccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Seccion 1.1 (Hello World)

El primer comando/funcion en aprender en un curso introductorio de python es por excelencia la función ```print()```

In [ ]:
print('Hello world')

Hello world

In [ ]:
mi_nombre = 'Ivan'

'Ivan'

In [ ]:
print(mi_nombre)

Ivan

Podemos concatenar strings (cadenas de texto) con los operadores de "+"

In [ ]:
nombre_completo = mi_nombre + ' ' +  'Montenegro'
print(nombre_completo)

Ivan Montenegro

Solo podemos usar el operador suma cuando se concatenan cadenas texto

In [ ]:
nombre_completo = mi_nombre + 5

TypeError: ignored

## Tipos de variables

Para conocer la naturaleza de nuestras variables podemos hacer uso de la función ```type()```

In [ ]:
type(mi_nombre)
valor_entero = 5.54
type(valor_entero)

float

## Listas

Las listas se definen por medio de un par de corchetes ```[]``` . Las listas pueden contener distintos tipo de variables, ya sean cadenas de texto (```str```), enteros (```ìnt```), flotantes (```floats```) o booleanos ```bool```

In [ ]:
mi_lista = [1,48.7,'tres',True]

Para acceder a cada elemento de mi lista, debo colocar dentro del corchete el valor de la posición de ese elemento, en python, se empieza a contar desde 0.

In [ ]:
type(mi_lista[0])

int

Podemos accerder a una lista de atras para adelante

In [ ]:
mi_lista[-2]

'tres'

In [ ]:
bikes = []
bikes.append('trek')
bikes.append('giant')

In [ ]:
bikes

['trek', 'giant']

Para conocer el tamaño de una lista tenemos la función ```len()```)

In [ ]:
len(mi_lista)

4

## For loops

In [ ]:
for i in range(4):
  print(i)

0
1
2
3

El límite superior de un for loop es excluyente, en este caso no toma el 4

In [ ]:
for i in range(2,4):
  print(i)

2
3

Crear un for loop para obtener la suma de 1 + 2 + 3 + 4 + 5 + 6 + 7 ,.... 100

In [ ]:
init = 0
for i in range(101):
  suma = init + i
  init = suma
  print(suma)

Podemos comprobar mediante la formula de Gauss

In [ ]:
sum = 101*50
sum

5050

Podemos iterar sobre una lista y acceder a cada elemento de la lista en un for loop

In [ ]:
for i in range(len(mi_lista)):
  print(mi_lista[i])

1
48.7
tres
True

## True/False

Definimos variables con valores númericos

In [ ]:
z = 20
y = 25

¿Z Es igual a Y?

In [ ]:
z == y

False

¿Z es distinto de Y?

In [ ]:
z != y

True

¿Z es mayor que Y?

In [ ]:
z > y

False

¿Z es menor que Y?

In [ ]:
z < y

True

¿Z es mayor o igual que y?[texto del enlace](https://)

In [ ]:
z >= y

False

¿Z es menor o igual que y?

In [ ]:
z <= y

True